# Import Libraries

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import mean_squared_error, r2_score
# import statsmodels.api as sm


%matplotlib inline

np.random.seed(42)

## Load in training data

In [52]:
train_clean = pd.read_csv('../data/train_clean.csv', index_col='id',na_values='', keep_default_na=False)

In [53]:
train_clean.head()

,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,utilities,lot_config,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,mo_sold,yr_sold,sale_type,saleprice
id,,,,,,,,,,,,,,,,,,,,,
109,60,RL,69.0552,13517,Pave,NA,IR1,Lvl,AllPub,CulDSac,...,0,0,0,NA,NA,NA,3,2010,WD,130500
544,60,RL,43.0000,11492,Pave,NA,IR1,Lvl,AllPub,CulDSac,...,0,0,0,NA,NA,NA,4,2009,WD,220000
153,20,RL,68.0000,7922,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,0,NA,NA,NA,1,2010,WD,109000
318,60,RL,73.0000,9802,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,0,NA,NA,NA,4,2010,WD,174000
255,50,RL,82.0000,14235,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,0,NA,NA,NA,3,2010,WD,138500

## Confirming No Null Values

In [54]:
train_clean.isnull().sum().sum()

0

## Create Dummy Variables

We'll create dummy variables for all the categorical variables in the data set

This is also referred to as one hot encoding. It means that a categorical feature with k levels will result in k new features, each taking on the value of 0 or 1 to denote the presensce of that attribute.

In [55]:
train_clean_dummies = pd.get_dummies(train_clean)

In [56]:
train_clean_dummies.shape

(2051, 299)

In [57]:
train_clean_dummies.head()

,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,bsmtfin_sf_1,bsmtfin_sf_2,...,misc_feature_Shed,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
id,,,,,,,,,,,,,,,,,,,,,
109,60,69.0552,13517,6,8,1976,2005,289.0,533.0,0.0,...,0,0,0,0,0,0,0,0,0,1
544,60,43.0000,11492,7,5,1996,1997,132.0,637.0,0.0,...,0,0,0,0,0,0,0,0,0,1
153,20,68.0000,7922,5,7,1953,2007,0.0,731.0,0.0,...,0,0,0,0,0,0,0,0,0,1
318,60,73.0000,9802,5,5,2006,2007,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
255,50,82.0000,14235,6,8,1900,1993,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

## Set up `X` and `y`

Next we'll create a dataframe with all our predictor variables and a series of the dependent variable (sale price)

In [58]:
X = train_clean_dummies.drop('saleprice', 1)
y = train_clean_dummies.saleprice

## Create training and validation sets

Next we'll use `train_test_split` to create a train and test set for our data. We'll train our model on the training data and test our fitted model on the test date to measure our accuracy. By default, we'll fit our model on 75% of the observations (training data) and use the remaining 25% to generate our predictions.

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)

## Scale the data

Scaling the data means that we will transform the data so that each feature will have a mean of 0 and a standard deviation of 1.

In [60]:
# instantiate StandardCaler
ss = StandardScaler()
ss.fit(X_train)
X_train_ss = ss.transform(X_train)
X_test_ss = ss.transform(X_test);

/Users/davidbickham/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/davidbickham/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
/Users/davidbickham/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """

### Ridge Regression

Ridge is a type of linear regression model that performans both regularization and feature selection. In ridge regression, the cost function is altered by adding a penalty to the loss function, the square of the coefficient value

We set an alpha value, which will apply a weight to the coefficients. An alpha value of zero would result in the original least squares loss function.

We semi-manually picked the optimal alpha value by picking 7 values between initially 0 and 1000. The initial model selected an alpha of 1000, which indicated that the ideal alpha would be around that value. 

We then tested a range of alphas around that value (i.e. 600 - 1400). We repeated this process until we narrowed in on an alpha value of about 696.

We again used cross-validation to select the best value (cv=5). That means that we will create 5 subsets of our training data. For each subset we will fit the model using a range of alpha values that we specify and select the alpha value that yileds the lowest R2 score from the simulations.

In [71]:
# Set up a list of ridge alphas to check.
r_alphas = np.linspace(680,720,11)
# np.logspace(-3,3,10) 

# Cross-validate over our list of ridgealphas.
ridge_model = RidgeCV(alphas=r_alphas, cv=5)

# Fit model using best ridge alpha!
ridge_model = ridge_model.fit(X_train_ss, y_train)

We can check to see which alpha value was selected by the model

In [72]:
# Here is the optimal value of alpha
ridge_optimal_alpha = ridge_model.alpha_
ridge_optimal_alpha

696.0

An alpha of 696 was selected, the smallest possible alpha in our list

Next we'll chech our training R2 score:

In [74]:
ridge_model.score(X_train_ss, y_train)

0.9016465228435636

Indicates that 91.6% of the variation in sale price is explained by our model

In [75]:
ridge_model.score(X_test_ss, y_test)

0.8947190804610361

We see the test R2 score was 89%%, slightly lower than our training R2 score.

Again, we'll create a data frame of our coefficient weights with the actual column names

In [79]:
columns = X.columns

In [80]:
betas = pd.DataFrame(ridge_model.coef_, index=columns)

In [81]:
betas.head()

                        0
ms_subclass  -1811.584170
lot_frontage   504.394935
lot_area      2256.692629
overall_qual  6512.594445
overall_cond  2371.418937

In [82]:
betas.columns = ['weights']
betas['abs_w'] = betas['weights'].abs()

In [83]:
betas.head()

                  weights        abs_w
ms_subclass  -1811.584170  1811.584170
lot_frontage   504.394935   504.394935
lot_area      2256.692629  2256.692629
overall_qual  6512.594445  6512.594445
overall_cond  2371.418937  2371.418937

We can look at the features that had the most significant impact on our model below

In [84]:
weights_top10 = betas.sort_values('abs_w', ascending=False)['weights'].head(10)

In [85]:
weights_top10

overall_qual            6512.594445
gr_liv_area             5727.717001
kitchen_qual_Ex         5236.689672
neighborhood_StoneBr    4969.920664
neighborhood_NridgHt    4958.953683
exter_qual_Ex           4874.021878
neighborhood_NoRidge    4480.531323
bsmt_qual_Ex            4307.595769
totrms_abvgrd           3975.280553
1st_flr_sf              3939.579531
Name: weights, dtype: float64

The first feature is the overall_qual. The coefficient 6512 tells us that if the overall_qual of a home were to increase by 1 standard deviation, the price of the home should increase by $6.5K. We can check the standard deviation of the overall_qual below:

In [86]:
np.std(train_clean.overall_qual)

1.425922798808365

So if the overall quality rating increase 1.4 points, the sales price should increase by 6.5K

We also see features like the living area and kitchen quality being excellent having a positive impact on the sale price

Next we can look at features that were eliminated from our model, by making the coefficients zero

In [87]:
weights_bot25 = betas.sort_values('abs_w', ascending=True)['weights'].head(25)

In [88]:
weights_bot25

utilities_NoSewr         0.000000
utilities_AllPub         0.000000
pool_qc_Ex               0.000000
condition_2_RRAe         0.000000
utilities_NoSeWa         0.000000
ms_zoning_I (all)        0.000000
foundation_Stone        -3.364918
electrical_SBrkr        -3.592009
house_style_1.5Fin       4.363728
misc_feature_Shed        7.864832
sale_type_ConLD          8.004076
functional_Min1          9.582575
heating_GasA            13.112647
neighborhood_BrDale     17.405512
exter_cond_TA           17.535278
land_contour_Low        17.595488
fence_MnPrv             20.910082
lot_config_FR3         -22.252215
neighborhood_ClearCr   -23.625042
pool_area              -25.960277
bsmt_cond_Ex           -27.592069
exter_cond_Gd          -34.139667
electrical_FuseF        34.429043
exterior_1st_CBlock     35.802099
condition_2_Artery     -38.397121
Name: weights, dtype: float64

Here we can see one of the distinct differences between Ridge and Lasso. Where the lasso will force more coefficients to zero, Ridge Regression tends to force more coefficient values to near zero (due to the squaring of the coefficients as the penalty rather than taking the absolute value).

## Calculating the RMSE

In [89]:
(((y_test - ridge_model.predict(X_test_ss))**2).sum()/len(ridge_model.predict(X_test_ss)))**0.5

25424.937553494856

On avg, our predictions were 25K off from the true sales price